<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>');">
  <div class="container text-center banner-box">
    <h1><%= @list.name %></h1>
    <p class="movies-count">
      <%= @list.movies.count %> movies
    </p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-end align-items-end my-3">
    <%= link_to  "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-outline-success" %>
  </div>
  <div class="cards mb-4">
    <% @bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2>
              <%= bookmark.movie.title %>  <i class="fas fa-star"></i>
                <span>
                <%= bookmark.movie.rating %>
                </span>
            </h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
        </div>
        <div class="card-trip-bottom">
          <h4>
            <span>
              <i class="fas fa-quote-left"></i>
            </span>
            <%= bookmark.comment %>
          </h4>
          <% if user_signed_in? && current_user == @list.user %>
            <%= link_to "Delete", bookmark_path(bookmark), class: "delete", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>  
        </div>
      </div>
    <% end %>
  </div>
    <% unless @list.bookmarks.empty? %>
      <div class="review-content">
        <% unless @list.reviews.empty? %>
          <%= render 'reviews/review' %>
        <% end %>
  <% if user_signed_in? %>
        <div class="new-review-box">
          <%= render 'reviews/new' %>
        </div>
      </div>
  <% else %>
    <%= render 'shared/join_us' %>
    <% end %>
  <% end %>
  
</div>