<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>');">
  <div class="container text-center banner-box">
    <h1><%= @list.name %></h1>
    <p class="movies-count">
      <%= pluralize @list.movies.size, 'movie' %>
    </p>
    <p class="made-by">
      by: <%= @list.user.first_name %> <%= @list.user.last_name %>
    </p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-end align-items-end my-3">
    <% if @list.user == current_user %>
      <%= link_to  "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-outline-success" %>
    <% else %>
      <%= link_to  "Create a new list", new_list_path, class: "btn btn-outline-success" %>
    <% end %>
  </div>
  <div class="cards mb-4">
    <% @bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2>
              <%= bookmark.movie.title %>  <i class="fas fa-star"></i>
                <span>
                <%= bookmark.movie.rating %>
                </span>
            </h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
        </div>
        <div class="card-trip-bottom">
          <h4>
            <span>
              <i class="fas fa-quote-left"></i>
            </span>
            <%= bookmark.comment %>
          </h4>
          <% if user_signed_in? && current_user == @list.user %>
            <%= link_to "Delete", bookmark_path(bookmark), class: "delete", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>  
        </div>
      </div>
    <% end %>
  </div>
    <% if @list.bookmarks.empty? %>
      <p>Go ahead and add your first bookmark!</p>
    <% else %>
        <% if @list.reviews.empty? && @list.user == current_user %>
          <div class="no-review">
            <div class="text-center">
              <h5>Share with your friends</h5>
              <ul class="list-inline class="list-inline-item"">
                <li class="list-inline-item">
                  <i class="fab fa-facebook-square"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fab fa-twitter-square"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fab fa-whatsapp-square"></i>
                </li>
              </ul>
            </div>
          </div>
        <% else %>
      <div class="review-content">
          <%= render 'reviews/review' %>
          <% if user_signed_in? %>
            <div class="new-review-box">
              <%= render 'reviews/new' %>
            </div>
          <% else %>
            <%= render 'shared/join_us' %>
          <% end %>
        <% end %>
      </div>
    <% end %>

</div>