<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="content d-flex my-3">
        <%= image_tag @movie.big_poster, class: 'background-card' %>
        <div class="background-card mx-2">
          <%= link_to "https://www.themoviedb.org/movie/#{@movie.tmdb_id}", target: 'blank' do %>
            <h1><%= @movie.title %></h1>
          <% end %>
          <p><%= @movie.overview %></p>
          <p>Where to watch <%= link_to "#{@movie.title}", "https://www.justwatch.com/us/search?q=#{@movie.title}", target: 'blank' %> </p>
          <table class="table table-bordered shadow-sm">
            <thead>
              <tr>
                <th scope="col">Release Date</th>
                <th scope="col">Original Language</th>
                <th scope="col">Vote Average</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @movie.release_date %></td>
                <td><%= @movie.original_language %></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
          <div class="show-form">
            <div class="add-bookmark" style="display:none" id="target-bookmark">
              <%= simple_form_for [@lists[0], @bookmark], remote: true do |f| %>
                <%= f.input :list, collection: List.where(user: current_user) %>
                <%= f.association :movie, select: Movie.find(params[:id]) %>
                <%= f.input :comment %>
                <%= f.submit "Add bookmark", class: "btn btn-primary btn-block rounded-pill my-4" %>
              <% end %>
            </div>
            <div class="show-bookmark">
              <input type="button" name="show-bookmark" id="show-bookmark" value="Create a bookmark">
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>
