<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="content d-flex">
        <%= image_tag @movie.big_poster, class: 'background-card' %>
        <div class="background-card">
          <%= link_to "https://www.themoviedb.org/movie/#{@movie.tmdb_id}", target: 'blank' do %>
            <h1><%= @movie.title %></h1>
          <% end %>
          <p><%= @movie.overview %></p>
          <p>Where to watch <%= link_to "#{@movie.title}", "https://www.justwatch.com/us/search?q=#{@movie.title}", target: 'blank' %> </p>
          <table class="table table-bordered shadow-sm">
            <thead>
              <tr>
                <th scope="col">Release Date</th>
                <th scope="col">Original Language</th>
                <th scope="col">Vote Average</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @movie.release_date %></td>
                <td><%= @movie.rating %></td>
                <td><%= @movie.original_language %></td>
              </tr>
            </tbody>
          </table>        
        </div>
      </div>
    </div>
  </div>
</div>
