<div class="footer-bg">
  <div class="row">
    <div class="col-xs-6 offset-xs-3 footer">
      <div class="footer-links">
          <%= link_to 'https://github.com/dedemenezes' do %>
            <i class="fab fa-github"></i>
          <% end %>
          <%= link_to 'https://www.instagram.com/djdedemenezes_' do %>
            <i class="fab fa-instagram"></i>
          <% end %>
          <%= link_to 'https://twitter.com/dedemenezes_' do %>
            <i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to 'https://www.linkedin.com/in/andre-menezes-developer/' do %>
            <i class="fab fa-linkedin"></i>
          <% end %>
        </div>
        <div class="footer-copyright">
          <p>Made by <%= link_to  "Dede Menezes", 'https://github.com/dedemenezes'  %> <i class="fas fa-heart"></i> at Le Wagon</p>
        </div>
      </div>
    </div>
  </div>      
</div>
    