<%= simple_form_for [@list, @review] do |f| %>
<h4>Add your review</h4>
<%= f.input :movie, collection: @list.movies, selected: 1 %>
<%= f.input :comment, as: :text, placeholder: 'Add your review here...' %>
<%= f.input :rating, collection: 1..5 , selected: 5 %>
<%= f.submit 'Review!', id: 'btn-review' %>
<% end %>