<div class="review-box">
  <h4>Reviews</h4>
  <% @list.reviews.each do |review| %>
    <div class="review-each">
    <h5><%= review.movie.title %></h5>
        <p>
          <% star = '<i class="fas fa-star mr-1"></i>' %>
          <%= star.html_safe * review.rating %>
        </p>
        <p><%= review.comment %></p>
    </div>
                
    <p class="review-end"> - <span>Posted by <%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %></span> <small><%= distance_of_time_in_words(Time.now, review.created_at) %> <em>ago</em></small></p>

  <% end %>
</div>