<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'https://res.cloudinary.com/seguraocode/image/upload/v1622298460/clapperboard_sck0yd.png', alt: "segura o filme" %>
      <% end %>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to  "My lists", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "New list", new_list_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag 'https://pbs.twimg.com/profile_images/761156055153991680/Rfb_aZyw_400x400.jpg',class: "avatar dropdown-toggle", id: "navbarDropdown", alt: "segura o filme" %>
          </li>
        </ul>
      </div>
    </div>    

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <%= link_to 'https://github.com/dedemenezes' do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to 'https://www.instagram.com/djdedemenezes_' do %>
          <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to 'https://github.com/dedemenezes' do %>
          <i class="fab fa-twitter"></i>
        <% end %>
        <%= link_to 'https://github.com/dedemenezes' do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
      </div>
      <div class="footer-copyright">
        First webapp made by <%= link_to  "Dede Menezes", 'https://github.com/dedemenezes'  %>  <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </body>
</html>
